<h1>Create a character to WIN</h1>
<div>We're looking for a new character to add to our Squigglebum family! Simply upload your designs for a chance to win lorem ipsum sit dolor!</div>
<div>
<br>

<%= link_to 'Upload your character design', new_character_path, class:"myButton" %>
</div>
